<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="be.ugent.oomt.labo3" >

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >

        <!-- DONE: Add 'be.ugent.oomt.labo3.contentprovider.MessageProvider' with authorities
            attribute set to the same value as in MessageProvider class.
            Authoroties is a unique name for this contentprovider which can be used to access the
            content provider outside this application. -->
        <provider
            android:authorities="be.ugent.oomt.labo3.contentprovider.MessageProvider"
            android:name="be.ugent.oomt.labo3.contentprovider.MessageProvider"
            android:exported="false" />

        
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="be.ugent.oomt.labo3.DetailActivity"
            android:label="Details"
            android:parentActivityName=".MainActivity" >
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
            </intent-filter>
        </activity>
    </application>

</manifest>
