/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 12-nov-2015, 12:02:39
    Author     : Sam Leroux <sam.leroux@ugent.be>
*/

.panel{
    margin: 10px;
}

body {
    margin-top: 10px;
}


#items{
    margin-left: auto;
    margin-right: auto;
    display: block;
}

#btnAddMobile {
    position:fixed;
    bottom: 20px;
    right: 20px;
}

#inputTodoMobile {
    width: 90%;
    margin: auto;
}